@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.container {
    font-family: 'Raleway', sans-serif;
}

.main-container {
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}